@font-face {
    font-family: 'Vazir';
    src: url('../../assets/fonts/Vazir.eot');
    src: url('../../assets/fonts/Vazir.woff') format('woff'), url('../../assets/fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html, body, #map {
        margin: 0;
        padding: 0;
        height: 100% !important;
    direction: rtl;
    }

	#wrapper {
	 width: 100%;
        height: 100% !important;

	 margin: 0;
	}
.leaflet-container {
    font: 12px/1.5 Vazir, Arial, Helvetica, sans-serif;
}
.leaflet-popup-content-wrapper { text-align:center;}
	.leaflet-bottom {
   		padding: 6px 10px;
    		font: 14px/16px Vazir, Arial, Helvetica, sans-serif;
   		background: white;
    		background: rgba(255,255,255,0.8);
    		box-shadow: 0 0 15px rgba(0,0,0,0.2);
    		border-radius: 5px;
    		    float: right;
	}
	.temporal {float:right;}
	.temporal-legendc {display: none;}
	#legendTitle {
  	  	text-align: center;
   	 	margin-bottom: 15px;
   		font-variant: small-caps;
	}
	.symbolsContainer {
    		float: left;
		margin-left: 50px;
	}
	.legendCircle {
     	border-radius:50%;
     	border: 1px solid #537898;
     	background: rgba(113, 133, 152, .6);
	 	display: inline-block;
	}
	.legendValue {
    		position: absolute;
    		right: 8px;
	}
    .legendText {
        max-width: 300px;
        text-align: justify;
        line-height: 20px;
    }
.notes {
        font-style: italic;
    font-size: x-small;
    float: right;
}
.leaflet-container { touch-action: none;}
.highlight {
    font-weight: bold;
}
.value {
  border-bottom: 4px dashed #bdc3c7;
  text-align: center;
  font-weight: bold;
  font-size: 10em;
  width: 300px;
  height: 100px;
  line-height: 60px;
  margin: 40px auto;
  letter-spacing: -.07em;
  text-shadow: white 2px 2px 2px;
}
input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #bdc3c7;
  width: 300px;
  height: 20px;
  border-radius: 5px;
  margin: 0 auto;
  outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #e74c3c;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: .3s ease-in-out;
}
  input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid #e74c3c;
  }
  input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6);
  }
