@font-face {
  font-family: Vazirmatn FD;
  src: url('../../assets/fonts/Vazirmatn-FD-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn FD;
  src: url('../../assets/fonts/Vazirmatn-FD-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn FD;
  src: url('../../assets/fonts/Vazirmatn-FD-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn FD;
  src: url('../../assets/fonts/Vazirmatn-FD-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn FD;
  src: url('../../assets/fonts/Vazirmatn-FD-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn FD;
  src: url('../../assets/fonts/Vazirmatn-FD-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn FD;
  src: url('../../assets/fonts/Vazirmatn-FD-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn FD;
  src: url('../../assets/fonts/Vazirmatn-FD-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn FD;
  src: url('../../assets/fonts/Vazirmatn-FD-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html, body, #map {
    font-family: Vazirmatn FD, Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        height: 100% !important;
    direction: rtl;
    }

	#wrapper {
	 width: 100%;
        height: 100% !important;

	 margin: 0;
	}
.leaflet-container {
    font: 12px/1.5;
}
.leaflet-popup-content-wrapper { text-align:center;}
	.leaflet-bottom {
   		padding: 6px 10px;
    		font: 14px/16px;
   		background: white;
    		background: rgba(255,255,255,0.8);
    		box-shadow: 0 0 15px rgba(0,0,0,0.2);
    		border-radius: 5px;
    		    float: right;
	}
	.temporal {float:right;}
	.temporal-legendc {display: none;}
	#legendTitle {
  	  	text-align: center;
   	 	margin-bottom: 15px;
   		font-variant: small-caps;
	}
	.symbolsContainer {
    		float: left;
		margin-left: 50px;
	}
	.legendCircle {
     	border-radius:50%;
     	border: 1px solid #537898;
     	background: rgba(113, 133, 152, .6);
	 	display: inline-block;
	}
	.legendValue {
    		position: absolute;
    		right: 8px;
	}
    .legendText {
        max-width: 300px;
        text-align: justify;
        line-height: 20px;
    }
.notes {
        font-style: italic;
    font-size: x-small;
    float: right;
}
.leaflet-container { touch-action: none;}
.highlight {
    font-weight: bold;
}
.value {
  border-bottom: 4px dashed #bdc3c7;
  text-align: center;
  font-weight: bold;
  font-size: 10em;
  width: 300px;
  height: 100px;
  line-height: 60px;
  margin: 40px auto;
  letter-spacing: -.07em;
  text-shadow: white 2px 2px 2px;
}
.legend {
  position: absolute;
  z-index: 999;
  left: 10px;
  bottom: 10px;
  background: #fffc;
  padding: 10px;
  border-radius: 5px;
  overflow: scroll;
  max-height: 100%;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}
.legend::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
@media screen and (max-width: 600px) {
  .legend {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    top:unset;
    left: 0;
    bottom: 0;
    padding: 0;
    font-size: smaller;
  }
  .legend-content {
    padding: 20px;
  }
  .legend-content * {
    width: 100% !important;
  }
}
input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #bdc3c7;
  width: 300px;
  height: 5px;
  border-radius: 5px;
  margin: 0 auto;
  outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #e74c3c;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: .3s ease-in-out;
}​
input[type="range"]::-webkit-slider-thumb:hover  {
  background-color: white;
  border: 2px solid #e74c3c;
}
input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.6);
}
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  background-color: #e74c3c;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: .3s ease-in-out;
}​
input[type="range"]::-moz-range-thumb:hover  {
    background-color: white;
    border: 2px solid #e74c3c;
  }
input[type="range"]::-moz-range-thumb:active {
    transform: scale(1.6);
  }
.symbol{
  padding: 2px 5px;
}
.available {
  background-color: rgba(255,255,0,0.7);
}
.unavailable {
  background-color: rgba(0,0,0,0.7);
  color: white;
}
.nd {
  background-color: rgba(255,0,0,0.7);
}
